body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333;
}

h1 {
	font-size: 14px;
}

h2 {
	font-size: 12px;
}

h1, h2 {
	margin: 0;
}

textarea {
	overflow: auto;
	resize: none;
}

label {
	margin-right: 5px;
}

#wrap {
	margin: 0;
	padding: 0;
}

#header {
	height: 17px;
	padding: 5px 10px;
	color: #eee;
	background-color: #455372;
	border-bottom: 1px solid #ccc;
}

#header h1 {
	float: left;
}

#settingsLink {
	float: right;
	cursor: pointer;
}

#main {
	margin: 0 0 0 250px;
}

#leftcol {
	float: left;
	width: 250px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

#separator {
	float: left;
	width: 5px;
	background-color: #e2e2e0;
	border-left: 1px solid #ccc;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.arrowLeft {
	background-image: url('../img/arrow_left.gif');
}

.arrowRight {
	background-image: url('../img/arrow_right.gif');
}

#sortBy {
	padding: 3px 10px;
}

#tabs {
	float: left;
	width: 244px;
	border: none !important;
	padding: 0 !important;
}

#tabs > ul {
	padding: 3px 2px 0 !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-radius: 0 !important;
}

#tabs > ul li a {
	padding: 4px 1em !important;
}

#entities {
	float: left;
	width: 244px;
	/*overflow: auto;*/
	padding: 0 !important;
}

#entities ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#entities ul li .box {
	width: 22px;
	height: 22px;
	margin-right: 2px;
	display: inline-block;
	background-position: 3px 3px;
	background-repeat: no-repeat;
}

#entities .person .box {
	background-image: url('../img/user.png');
}

#entities .person .box, #entities .person.over {
	background-color: #ff8080;
}

#entities .person.selected, #entities .person.selected .box {
	background-color: #FF0000;
}

#entities .place .box {
	background-image: url('../img/world.png');
}

#entities .place .box, #entities .place.over {
	background-color: #4c9999;
}

#entities .place.selected, #entities .place.selected .box {
	background-color: #009999;
}

#entities .date .box {
	background-image: url('../img/calendar.png');
}

#entities .date .box, #entities .date.over {
	background-color: #ffb980;
}

#entities .date.selected, #entities .date.selected .box {
	background-color: #FF7400;
}

#entities .event .box {
	background-image: url('../img/cake.png');
}

#entities .event .box, #entities .event.over {
	background-color: #66cc66;
}

#entities .event.selected, #entities .event.selected .box {
	background-color: #00CC00;
}

#entities .org .box {
	background-image: url('../img/group.png');
}

#entities .org .box, #entities .org.over {
	background-color: #8172b0;
}

#entities .org.selected, #entities .org.selected .box {
	background-color: #3914AF; 
}

#entities .citation .box {
	background-image: url('../img/vcard.png');
}

#entities .citation .box, #entities .citation.over {
	background-color: #cc66a0;
}

#entities .citation.selected, #entities .citation.selected .box {
	background-color: #CD0074;
}

#entities .note .box {
	background-image: url('../img/note.png');
}

#entities .note .box, #entities .note.over {
	background-color: #6c88a6;
}

#entities .note.selected, #entities .note.selected .box {
	background-color: #0D56A6;
}

#entities .title .box {
	background-image: url('../img/book.png');
}

#entities .title .box, #entities .title.over {
	background-color: #f2d747;
}

#entities .title.selected, #entities .title.selected .box {
	background-color: #debb00;
}

#entities .entityTitle {
	font-size: 11px;
	vertical-align: 6px;
}

#entities .selected .entityTitle {
	color: #fff;
}

#entities .info {
	display: none;
	padding: 0px 3px 3px 3px;
}

#entities .info ul {
	list-style: none;
	background-color: #fff;
	padding: 2px;
	color: #000;
	max-height: 160px;
	overflow: auto;
	border-radius: 2px;
}

#entities .info li {
	height: auto;
	font-size: 11px;
}

#entities ul li {
	height: 22px;
}

#entities ul li.selected {
	height: auto;
}

#entities ul li:hover {
	cursor: pointer;
}

#structure {
	padding: 5px !important;
}

#tree {
	border: none !important;
}

#results, #files {
	margin: 10px 0;
	border: 1px solid #fff;
}

#entitiesConverter {
	display: none;
}

.searchResults {
	margin: 0;
	padding: 0;
	list-style: none;
}

.searchResults li {
	font-size: 10px;
	background-color: #fff;
	padding: 2px 5px;
	border-bottom: 1px solid #ccc;
}

.searchResults li.last {
	border: none;
}

.searchResults li:hover {
	background-color: #F0F0EE;
	cursor: pointer;
}

.searchResults li.selected {
	background-color: #9ac6eb;
}

.searchResults li span {
	display: block;
}

#tree_popup {
	display: none;
	position: absolute;
	width: 175px;
	border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0;
}

#tree_popup ul {
	padding: 5px;
	margin: 0;
	list-style: none;
}

.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}

#noteDialog textarea {
	width: 275px;
	height: 150px;
}

#noteDialog button, #dateDialog button {
	margin-top: 5px;
	float: right;
}

.ui-dialog-content div {
	margin-bottom: 10px;
}

#schemaDialog label {
	text-align: right;
	display: inline-block;
}

#schemaDialog input, #schemaDialog select {
	width: 150px;
	border: 1px solid #ccc;
}

#personName input {
	width: 90px;
	margin-right: 5px;
}

#datePicker {
	border: 1px solid #ccc;
}

/* tinymce style overrides */
.defaultSkin table.mceLayout tr.mceFirst td {
	border: 0 none !important;
}

.mceMenuItem .mceIcon img {
	margin: 2px 0 0 2px;
}

/* used by schematags plugin */
#menu_editor_editor_schemaTagsButton_menu, #menu_structTagsContextMenu {
	height: auto !important;
}

#menu_editor_editor_schemaTagsButton_menu_co, #menu_structTagsContextMenu_co {
	max-height: 600px;
	max-width: 200px;
	overflow: auto;
}

#menu_editor_editor_schemaTagsButton_menu_co .mceMenuItemDisabled, #menu_structTagsContextMenu_co .mceMenuItemDisabled {
	visibility: collapse;
}

#menu_editor_editor_schemaTagsButton_menu_co .mceMenuItemDisabled *, #menu_structTagsContextMenu_co .mceMenuItemDisabled * {
	height: 0;
	margin: 0;
	padding: 0;
}

/* used by the entity plugin */
.entityButton img {
	height: 16px !important;
	width: 16px !important;
	margin: 2px !important;
}

.wideButton {
	height: 20px !important;
	width: 34px !important;
	margin: 2px !important;
}

.wideButton img {
	height: 20px !important;
	width: 32px !important;
	margin: 2px !important;
}

.mceToolbar .person {
	border-bottom: 2px solid #FF0000 !important;
}

.mceToolbar .place {
	border-bottom: 2px solid #009999 !important;
}

.mceToolbar .date {
	border-bottom: 2px solid #FF7400 !important;
}

.mceToolbar .event {
	border-bottom: 2px solid #00CC00 !important;
}

.mceToolbar .org {
	border-bottom: 2px solid #3914AF !important;
}

.mceToolbar .citation {
	border-bottom: 2px solid #CD0074 !important;
}

.mceToolbar .note {
	border-bottom: 2px solid #0D56A6 !important;
}

.mceToolbar .textTitle {
	border-bottom: 2px solid #debb00 !important;
}

/* tinymce overrides */
div.mceDropDown {
	box-shadow: 1px 1px 2px #ccc;
}

/* jstree overrides */
#vakata-contextmenu {
	border: 1px solid #D4D0C8 !important;
	background-color: #fff !important;
	box-shadow: 1px 1px 2px #ccc;
}
#vakata-contextmenu, #vakata-contextmenu ul {
	min-width: 100px !important;	
}

#vakata-contextmenu li ins, #jqContextMenu li ins {
	margin: 2px 2px 0 2px !important;
}

#jqContextMenu li.separator {
	border-top: 1px solid #DDDDDD !important;
}

#jqContextMenu li ins {
	float: left;
	height: 16px;
	margin-right: 2px;
	text-decoration: none;
	width: 16px;
}

#vakata-contextmenu li a {
	font-family: Tahoma,Verdana,Arial,Helvetica !important;
	font-size: 11px !important;
	color: #000 !important;
	line-height: 20px !important;
	padding: 0 !important;
	margin: 0 !important;
}

#vakata-contextmenu li a:hover, #vakata-contextmenu li.vakata-hover > a {
	color: #000 !important;
	background-color: #DBECF3 !important;	
}

.jstree .paraTag a .ui-icon {
	background-image: url('../img/para.png') !important;
	background-position: 0px 0px !important;
}

.jstree .headTag a .ui-icon {
	background-image: url('../img/heading.png') !important;
	background-position: 0px 0px !important;
}

.jstree .emphTag a .ui-icon {
	background-image: url('../img/text_italic.png') !important;
	background-position: 0px 0px !important;
}

.jstree .titleTagQuotes a .ui-icon, .jstree .titleTagItalics a .ui-icon {
	background-image: url('../img/title.png') !important;
	background-position: 0px 0px !important;
}

.jstree .quoteTagShort a .ui-icon, .jstree .quoteTagLong a .ui-icon {
	background-image: url('../img/quote.png') !important;
	background-position: 0px 0px !important;
}

/* jquery ui overrides */
.splitButtons .ui-dialog-buttonpane {
	padding: 0.3em 1em 0.5em 1em !important;
}

.splitButtons .ui-dialog-buttonset {
	float: none !important;
}

.splitButtons .ui-dialog-buttonset button {
	float: right;
}

.splitButtons .ui-dialog-buttonset button.left {
	float: left;
}
